{% extends "base.html" %}

{% block content %}
<h1>About Page</h1>

<h3>{{ Title }}</h3>
<p>This is a template</p>

{{ MyHtml }}
{{ MyHtml|safe }}

<p> 
    {{MyText}} 
    {{MyNumber}} 
    {{MyList}}
</p>

<ul>
    <li>Item1</li>
    <li>Item2</li>
</ul>

<ul>
    {% for abc in MyList %}

        {% if abc == 312 %}
            <li>{{ forloop.counter }} - {{ abc|add:22 }}</li>
        {% elif abc == "Abc" %}
            <li>This is not the network</li>
        {% else %}
            <li>{{ forloop.counter }} - {{ abc }}</li>
        {% endif %}

    {% endfor %}
</ul>

{% endblock content %}